@use '@/globals/styles/vars';

.card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid var(--header-accent-color);
  border-radius: 10px;
  margin-bottom: 10px;
}

.header {
  align-items: center;
  margin-bottom: 5px;
}

.name{
  text-transform: capitalize;
}

.dangerBadge{
  text-transform: uppercase;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 5px 20px;
}